.element__title {
    max-width: 190px;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @media screen and (max-width: 480px) {
    .element__title {
      max-width: 80%;
      line-height: 24px;
    }
  }